@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated) //判斷表單驗證的方式
{
    //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    //{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a> @User.Identity.Name</a>

            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li><a href="/MEMBER/Logout">登出</a></li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>*@
    </ul>
    //}
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("登入", "Login", "MEMBER")</li>
    </ul>
}
